# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Java.
5. JavaScript.
6. Scala.
7. C++.
8. Julia.

Some of the popular libraries that Data Scientists use are:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. IBM Db2 Database.
6. MySQL.
7. SciKit-Learn.
8. PyTorch.
9. dplyr.

|Data Science tools |
|:-------------------|
|Apache Hadoop      |
|Apache Spark       |
|TensorFlow         |
|MangoDB            |

### Examples of Arithmetic Expressions

Arithmetic expressions are basic mathematical operations that include addition, subtraction, multiplication, and division.

In [4]:
# This expression multiplies 3 by 4 and then adds 5
result = (3 * 4) + 5
result

17

In [5]:
# This expression converts 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335

**Objectives**
- Collection of Items.
- Ordered Elements.
- Mutability.
- Dynamic Size.
- Iteration and Access.
- Versatility.
- Concatenation and Repetition.
- Data Organization.

## Author
Moumita Sutradhar